.boxes {
  border: 3px solid lightgray;
  /* absolute positioning works relative to the container
  the container must be set to a relative position in order
  for absolute positioning to work for the children elements */
  position: relative;
}

.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background-color: gold;
}

.box-two {
  background-color: tomato;
  /*  */
  position: absolute; /* container must be positioned relatively */
  right: 0;
  bottom: 0;
  z-index: 1;
}

.box-three {
  background-color: dodgerblue;
}

/* when we absolutely position an element, we can imagine it's on a separate layer
the element is removed from the normal flow of the page and all of the other elements
are rendered as if the absolutely positioned element doesn't exist*/